{% extends "base.html" %}

{% block content %}
  <div class="card">
    <div class="card-header bg-success text-white">
      <h5 class="card-title">Access Granted</h5>
    </div>
    <div class="card-body">
      <div class="card-text">
        <div class="text-center">
          <img src="{{ qrcode(token) }}" alt="{{ token }}">
        </div>
        <div class="pt-3 text-center">
          <button class="btn btn-lg btn-primary" onclick="sendToken('{{ token }}')">Bluetooth</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}