{% extends "base.html" %}

{% block content %}
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <h5 class="card-title">Access Granted</h5>
    </div>
    <div class="card-body">
      <div class="card-text">
        <div class="row">
          <img src="{{ qrcode(token) }}" alt="{{ token }}" style="max-width: 100%;">
        </div>
        <div class="text-center pt-3">
          <button class="btn btn-lg btn-primary" onclick="sendToken('{{ token }}')">Bluetooth</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}