<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>THE ALMIGHTY ZERBEROS</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<body>
<div class="container">
  <div class="row justify-content-center pt-4 pb-5">
    <h1>Spacelock</h1>
  </div>
  <div class="row justify-content-md-center">
  <div class="col-sm-12 col-md-8 col-xl-5">
    {% block content %}
    {% endblock %}
  </div>
  </div>
</div>

{% block scripts %}
<script type="application/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
</body>
</html>