{% extends "base.html" %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Hackerspace Access</h5>
    </div>
    <div class="card-body">
      <form action="/" method="post">
        <div class="card-text">
          <div class="form-group">
            <label for="input-username">Username</label>
            <input type="text" class="form-control" id="input-username" name='username' placeholder="Username">
          </div>
          <div class="form-group">
            <label for="input-key">Password</label>
            <input type="password" class="form-control" id="input-key" name='secret_key' placeholder="Password">
          </div>
        </div>
        <button type="submit" class="btn btn-primary float-right">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}