{% extends "base.html" %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Hackerspace Access</h5>
    </div>
    <div class="card-body">
      <form action="/" method="post">
        <div class="card-text">
          <div class="form-group">
            <label for="secret-key">Secret Key</label>
            <input type="password" class="form-control" id="secret-key" name='secret_key' placeholder="Your Key">
          </div>
        </div>
        <button type="submit" class="btn btn-primary float-right">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}