{% extends "base.html" %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Login for Avanced stuff</h5>
    </div>
    <div class="card-body">
      <form action="/login" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="card-text">
          <div class="form-group">
            <label for="input-key">Key</label>
            <input type="password" class="form-control" id="input-key" name='secret_key' placeholder="Password">
          </div>
        </div>
        <button type="submit" class="btn btn-outline-success float-right">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}