export SPACELOCK_DB_NAME='spacelock'
export SPACELOCK_DB_USER='<postgres_db_user>'
export SPACELOCK_DB_PASS='<postgres_db_password>'
export SPACELOCK_DB_HOST='localhost'
export SPACELOCK_DB_PORT='5432'
export FLASK_SECRET_KEY='<secret_key>'