# commented packages are installed as dependencies of the previous one

Flask~=2.1.1
#itsdangerous~=2.1.1
#MarkupSafe~=2.1.1
#Werkzeug~=2.1.1
#click~=8.1.2
#Jinja2~=3.1.1

Flask-Login~=0.6.0

Flask-QRcode~=3.0.0
#qrcode~=7.3.1
#Pillow~=9.1.0

Flask-WTF~=1.0.1
#WTForms~=3.0.1

psycopg2-binary~=2.9.3
pytz~=2022.1

# for msggen.py
cbor2
